# History files
.Rhistory

# Example code in package build process
*-Ex.Rtestdata/layers testdata/layers.navigation.csv testdata/layers.navigation.csv.example.csv



.DS_Store
test/data/*

data/Halpern2012Data.R data/Halpern2013Data.R
data/layers.Global2013.www2013/**
data/layers.Global2013.www2013/*
data
